{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx":true
        }
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "max-length": 0 // 0으로 설정하면 에러 검출 X
    },
    "extends": ["plugin:@typescript-eslint/eslint-recommended"],
    "plugins": [
        "import","@typescript-eslint"
    ],
    "globals": {
        "jQuery": true,
        "$": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}