{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "plugins": [
        "import",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "rules": {
        "max-length": 0, // 0으로 설정하면 에러 검출 X,
        "require-jsdoc":"off",
        "no-unused-vars":"warn",
        "indent" : ["error","tab"],
        "object-curly-spacing":["off"],
        "no-tabs":"off",
        "linebreak-style" :"off"
    },
    "globals": {
        "jQuery": true,
        "$": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": [
                    "src"
                ],
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    }
}