.editableBox{
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    .btn{
        font-size: 14px; 
        margin-top: 15px;
        white-space:nowrap; 
        font-family: Open Sans, Helvetica,Arial,sans-serif; 
        display: inline-flex; 
        color: #fff; 
        text-align: center; 
        position:relative; 
    }
    .btn.btn-dark:active{
        top: 3px; 
        outline: none; 
        -webkit-box-shadow: none; 
        box-shadow: none;
    }
    .remove_button {
        width: 25px;
        height: 25px;
        margin: 12px 10px auto 0;
        text-align: center;
        font-weight: 600;
        &:hover {
            background-color: rgba(182, 207, 211, 0.863);
            transition: all 0.2s;
        }
        &:active {
            background-color: rgb(159, 194, 199);
            transition: all 0.2s;
        }
    }
    .save_button {
        width: 25px;
        height: 25px;
        margin: 12px 10px auto 0;
        text-align: center;
        &:hover {
            background-color: rgba(182, 207, 211, 0.863);
            transition: all 0.2s;
        }
        &:active {
            background-color: rgb(159, 194, 199);
            transition: all 0.2s;
        }
    }
    .inputBox {
        position: relative;
        > input {
            flex-grow: 3;
            border: none;
            border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
            margin-right: 10px;
            height: 1.2rem;
            font-size: 1rem;
            line-height: 160%;
            padding-top: 0.825rem;
            padding-bottom: 0.2rem;
            &:focus, &:valid {
                outline: none;
                + .typeBar > .input_label {
                    top: 0;
                    font-size: 0.85rem;
                    margin-bottom: 32px;;
                    color: var(--omrs-color-interaction);
                }
                + .typeBar > .nonselected {
                    border: none;
                    background-color: rgba(0,0,0,0);
                    display: flex;
                    color: rgba(39, 38, 38, 0.493);
                    &:hover {
                        color: rgba(39, 38, 38, 0.829);
                    }
                }
            }
            &:hover {
                background: var(--omrs-color-interaction-minus-two);
                border-color: var(--omrs-color-ink-high-contrast);
            }
        }
        .typeBar {
            display: flex;
            flex-direction:row;
            .input_label {
                position: absolute;
                top: 0.4rem;
                left: 0.4rem;
                line-height: 147.6%;
                color: var(--omrs-color-ink-medium-contrast);
                transition: top .2s;
            }
            .nonselected {
                position: absolute;
                top: 0.4rem;
                left: 3rem;
                display: none;
            }
        }
    }
}

.noneditableBox{
    max-width: 300px;
    padding: 4px 0;
    display: flex;
    .check {
        display: inline-block;
        transform: rotate(45deg);
        height: var(--height);
        width: var(--width);
        border-bottom: var(--borderWidth) solid var(--borderColor);
        border-right: var(--borderWidth) solid var(--borderColor);
        margin-right: 5px;
        margin-top: 3px;
      }
    .btn{
        font-size: 14px; 
        white-space:nowrap; 
        font-family: Open Sans, Helvetica,Arial,sans-serif; 
        display: inline-block; 
        color: #fff; 
        text-align: center; 
        position:relative; 
    }
    .btn.btn-sunflower{
        background-color: #f2c500; 
        border-color: #f2c500; 
    }
    .btn.btn-sunflower:hover{
        background-color:#e3ba02;
    }
    .btn.btn-sunflower:active{
        top: 3px; outline: none; 
    }
        
    .remove_button {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        text-align: center;
        &:hover {
            background-color: rgba(182, 207, 211, 0.863);
            transition: all 0.2s;
        }
        &:active {
            background-color: rgb(159, 194, 199);
            transition: all 0.2s;
        }
    }
}
:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
    --borderWidth: 4px;
    --height: 12px;
    --width: 6px;
    --borderColor: #a9aca6;
}
