.Calendar{
    user-select: none;
    width: 998px;
    height: 830px;
    border: 1px solid rgba(gray,0.3);
    border-radius: 3px;
    margin: 0px;
    .head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 8px;
      width: 700px;
      margin: auto;
      button{
        cursor: pointer;
        outline: none;
        display: inline-flex;
        background: transparent;
        border: none;
        font-size: 20pt;
        padding: 4px;
        border-radius: 4px;
        &:hover{
          background-color: rgba(gray,0.1);
        }
        &:active{
          background-color: rgba(gray,0.2);
        }
      }
      span.title{
        cursor:pointer;
        border-radius: 5px;
        padding: 4px 12px;
        &:hover{
          background-color: rgba(gray,0.1);
        }
        &:active{
          background-color: rgba(gray,0.2);
        }
      }
    }
    .body{
      .row{
        display: flex;
        cursor: pointer;
        &:first-child{
          cursor: initial;
          .box{
            font-weight: bold;
          }
          .box:hover > span.text{
            background-color: white;
          }
        }
        .box{
          position: relative;
          display: inline-flex;
          width: calc(100%/7);
          height: 0;
          padding-bottom: calc(100%/9);
          font-size: 12pt;
          &:first-child{
            color: red;
          }
          &:last-child{
            color: #588dff;
          }
          &.grayed{
            color: rgba(gray,0.4);
          }
          &:hover{
            span.text{
              background-color: rgba(#8b8c91ce, 0.1);
            }
          }
          &:active{
            span.text{
              background-color: #8b8c9138;
              color: rgba(255, 255, 255, 0.664);
            }
          }
          &.selected{
            span.text{
              background-color: #588dff;
              color: white;
            }
          }
          span.text{
            border-radius: 3px;
            display: inline-flex;
            justify-content: center;
            align-items: top;
            margin-top: 5px;
            width: 80%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .check_memo {
              display: inline-block;
              transform: rotate(45deg);
              height: var(--height);
              width: var(--width);
              border-bottom: var(--borderWidth) solid var(--borderColorMemo);
              border-right: var(--borderWidth) solid var(--borderColorMemo);
              margin-right: 5px;
              margin-top: 3px;
            }
            .check_calory {
              display: inline-block;
              transform: rotate(45deg);
              height: var(--height);
              width: var(--width);
              border-bottom: var(--borderWidth) solid var(--borderColorCalory);
              border-right: var(--borderWidth) solid var(--borderColorCalory);
              margin: 10px 5px;
            }
            .uncheck_memo {
              display: none;
            }
            .uncheck_calory {
              display: none;
            }
          }
        }
        .box_day{
          position: relative;
          display: inline-flex;
          width: calc(100%/7);
          height: 0;
          padding-bottom: calc(100%/10);
          font-size: 12pt;
          &:first-child{
            color: red;
          }
          &:last-child{
            color: #588dff;
          }
          span.text{
            border-radius: 3px;
            display: inline-flex;
            justify-content: center;
            align-items: top;
            margin-top: 5px;
            width: 60%;
            height: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }


:root {
    --borderWidth: 4px;
    --height: 12px;
    --width: 6px;
    --borderColorMemo: #3fa0b1;
    --borderColorCalory: #e2e46d;
}