.editableBox{
    max-width: 300px;
    margin: 0 auto;
    .btn{
        font-size: 14px; 
        white-space:nowrap; 
        font-family: Open Sans, Helvetica,Arial,sans-serif; 
        display: inline-block; 
        color: #fff; 
        text-align: center; 
        position:relative; 
    }
    .btn.btn-dark{
        background-color: #2c3d51; 
        border-color: #2c3d51; 
    }
    .btn.btn-dark:hover{
        background-color:#202d3d;
        
    }
    .btn.btn-dark:active{
        top: 3px; outline: none; 
        -webkit-box-shadow: none; 
        box-shadow: none;
    }
}

.noneditableBox{
    max-width: 300px;
    margin: 0 auto;
    .btn{
        font-size: 14px; 
        white-space:nowrap; 
        font-family: Open Sans, Helvetica,Arial,sans-serif; 
        display: inline-block; 
        color: #fff; 
        text-align: center; 
        position:relative; 
    }
    .btn.btn-sunflower{
        background-color: #f2c500; 
        border-color: #f2c500; 
    }
    .btn.btn-sunflower:hover{
        background-color:#e3ba02;
    }
    .btn.btn-sunflower:active{
        top: 3px; outline: none; 
    }
}