.doughnut {
    .first {
        &:hover {
            transform: scale(1.07);
            transition: 0.2s;
        }
    }
    .second {
        &:hover {
            transform: scale(1.07);
            transition: 0.2s;
        }
    }
    .third {
        &:hover {
            transform: scale(1.07);
            transition: 0.2s;
        }
    }
}


